body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  color: #ffffff;

  background-color: #849d8f; 
  background-image: url("../img/background.png");
  background-position: 0 0;
  background-repeat: repeat;
}

.site-wrapper {
  min-width: 1146px;

  background-color: #849d8f;
  background-image: url("../img/banner-photo.png");
  background-repeat: no-repeat;
  background-position: top center;

  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.container {
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.visually-hidden-radio {
  position: absolute;

  width: 1px;
  height: 1px;

  clip: rect(0, 0, 0, 0);
}

a {
  text-decoration: none;
}

.btn {
  font: inherit;

  text-align: center;
  color: #fefefe;
  vertical-align: middle;
  text-transform: none;
  
  background-color: #e74a35;
  box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
  background-image: linear-gradient(to top, #e74a35, var(--dusty-orange));
  border-radius: 50px;
  border: none;
}

.btn:hover,
.btn:focus {
  background-color: #f26843;
  box-shadow: 0px 2px 2px 0 var(--deep-red);
  background-image: linear-gradient(to top, #e74a35, var(--dusty-orange)),
                    linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
}

.btn:active {
  box-shadow: inset 0px 2px 2px 0 #942718;
  background-image: linear-gradient(to bottom, #e74a35, var(--dusty-orange)),
                    linear-gradient(to bottom, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07));

}

.main-header {
  height: 64px;
}

.main-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.menu-wrapper {
  display: flex;
  align-items: center;
  width: 600px;
  
}

.main-logo {
  width: 154px;
  height: 64px;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  padding: 0;
  margin: 0;
}

.site-navigation > li {
  position: relative;
  display: inline-block;
  margin-left: 24px;
}

.site-navigation > li:nth-child(2) {
  margin-left: 27px;
}

.site-navigation > li:nth-child(3) {
  margin-left: 28px;
}

.site-navigation-current > a {
  padding: 7px 13px 7px 14px;
  margin: -7px -13px -7px -14px;

  background-color: #d07058;
  border-radius: 20px;
}

.site-navigation a {
  display: block;

  vertical-align: middle;
  color: #ffffff;
  border-bottom: 1px solid  rgba(255,255,255, 0.3);
}

.site-navigation > li > a:hover,
.site-navigation > li > a:focus {
  padding: 7px 13px 7px 14px;
  margin: -7px -13px -7px -14px;
  color: #333333;

  background-color: #f7f6f3;
  border-radius: 20px;
}

.site-navigation .sub-menu {
  display: none;
  position: absolute;
  top: 30px;
  left: -15px;
  
  width: 143px;
  padding: 0;
  margin: 0;

  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  list-style: none;
  color: #323232;

  background-color: #f8f7f4;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.sub-menu li a {
  color: #323232;
}

.site-navigation .sub-menu li:first-child {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  border-bottom: 1px solid rgba(209, 208, 206, 0.2);
}

.site-navigation > li:hover .sub-menu,
.site-navigation > li:focus .sub-menu {
  display: block;
}

.sub-menu li a:hover,
.sub-menu li a:focus {
  color: #323232;
  background-color: #fbded7;
}

.sub-menu li a:active {
  color: #323232;
  background-color: #f6b5a5;
}

.site-navigation .sub-menu a {
  display: block;
  padding: 12px 0 12px 20px;
}

.site-navigation > li > a:active {
  color: #323232;

  box-shadow: inset 0px 2px 1px 0 #696969;
  background-color: #ededed;
}





.user-navigation > li > a {
  display: block;
  color: #ffffff;
}

.user-navigation-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 270px;
}

.search-wrapper {
  position: relative;
  width: 33px;
  height: 33px;
  margin-bottom: 5px;
  

  font-size: 14px;
  line-height: 16px;
  font-weight: 500;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}

.search-wrapper:hover {
  background-color: #f8f7f4;
}

.search-icon {
  position: relative;
}

.search-icon::before {
  position: absolute;
  content: "";
  top: 8px;
  left: 8px;

  width: 17px;
  height: 17px;
  
  background-image: url("../img/searher.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
} 

.search-wrapper:hover .search-icon::after {
  position: absolute;
  content: "";
  top: 8px;
  left: 8px;

  width: 17px;
  height: 17px;
  
  background-image: url("../img/searcher-black.png");
  background-repeat: no-repeat;
  background-position: 0 0;
} 

.search-wrapper .search-form {
  display: none;
  position: absolute;
  top: 35px;
  right: 0;
  width: 341px;

}

.search-wrapper:hover .search-form {
  display: block;

  background-color: #f8f7f4;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.search-form input[type="search"] {
  margin: 20px 15px;
  width: 311px;
  padding: 15px;
  margin-bottom: 16px;
  border-radius: 5px;
  background-color: #ffffff;
  border: 1px solid #d3d3d2;
}

.user-navigation {
  padding: 0;
  margin: 0;
  margin-left: 9px;
  
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  list-style: none;
}

.user-navigation .btn-login:hover,
.user-navigation .btn-login:focus {
  color: #333333;

  background-color: #f7f6f3;
}

.login-link,
.cart {
  position: relative;
  display: inline-block;
  margin-right: 5px;
}

.btn-login,
.cart-link {
  position: relative;
  padding: 8px 16px 8px 45px;
  margin-bottom: 5px;
  margin-right: 1px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50px;
}



.inner-page .cart-link {
  color: #323232;

  background-color: #f7f6f3;
}

.btn-login::before {
  position: absolute;
  content: "";
  top: 6px;
  left: 17px;

  width: 21px;
  height: 19px;
  
  background-image: url("../img/entrance-white.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.btn-login:hover::before {
  position: absolute;
  content: "";
  top: 4px;
  left: 17px;

  width: 21px;
  height: 19px;
  background-image: url("../img/entrance.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.cart-link::before {
  position: absolute;
  content: "";
  top: 6px;
  left: 16px;

  width: 21px;
  height: 19px;
  
  background-image: url("../img/basket.svg");
  background-repeat: no-repeat;
  background-position: 0 0; 
}

.inner-page .cart-link::before {
  position: absolute;
  content: "";
  top: 6px;
  left: 15px;

  width: 21px;
  height: 19px;
  
  background-image: url("../img/basket-red.svg");
  background-repeat: no-repeat;
  background-position: 0 0; 
}

.login-form p {
  margin: 0;
  padding: 0;
}

.login-form-wrapper {
  display: none;
  position: absolute;
  width: 277px;
  top: 35px;
  right: 0;
}

.login-link:hover .login-form-wrapper {
  display: block;
  
  border-radius: 5.1px;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
}

.login-form-item input[type="text"],
.login-form-item input[type="password"] {
  padding: 15px 15px 13px 15px;
  margin: 20px 19px 0px 19px;
  width: 210px;

  background-color: #ffffff;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
}

.login-password-info .restore {
  display: block;
  margin: 0;
  padding: 0;
  margin-top: 16px;
  margin-left: 139px;
  font-size: 13px;
  line-height: 22px;
  font-weight: 400;
  color: #323232;
  text-decoration: underline;
}

.create-account-info .create-account {
  display: inline-block;
  margin-bottom: 25px;
  margin-left: 139px;
  font-size: 13px;
  line-height: 22px;
  font-weight: 400;
  color: #323232;
  text-decoration: underline;
}

.btn-submit {
  position: absolute;
  left: 19px;
  bottom: 22px;
  padding: 12px 25px 12px 25px;

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  border-radius: 50px;
 
}

.cart {
  position: relative;
  display: inline-block;
  padding: 0;
  margin: 0;
}

.cart-form {
  display: none;
  position: absolute;
  top: 35px;
  right: 0;
  width: 540px;
  
}

.cart:hover .cart-form-active {
  display: block;

  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;

  border-radius: 5px;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
}

.cart-form-active ul {
  margin: 0;
  padding: 0;
}

.cart-form-active li {
  list-style: none;
}


.cart-item {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.remove-good {
  width: 11px;
  height: 11px;

  margin-left: 15px;

  background-color: transparent;
  background-image: url("../img/cross-small.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  border: 0;
}

.cart-item img {
  margin-left: 15px;

  border-radius: 20px;
}

.cart-item h3 {
  width: 220px;
  margin-left: 15px;

  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
}

.quantity-per-price {
  margin-left: 30px;
}

.price {
  margin-left: 30px;
}

.total-price-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.total-price {
  margin-top: 15px;
  margin-right: 15px;
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
  color: #323232;
}

.btn-order {
  padding: 10px 15px 10px 14px;
  margin: 20px 15px 20px 0;

  border-radius: 30px;
}

.schedule {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 0 0 0 950px;
  width: 168px;

  font-size: 14px;
  line-height: 16px;
}

.inner-page .schedule {
  margin: 0 0 0 1052px;
}

.schedule .hours,
.schedule .phone {
  padding: 0;
  margin: 0;
}

.schedule .phone {
  margin-top: 4px;
  margin-left: 1px;
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";

  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("../img/product-2.png");
}

.site-wrapper::after {
  background-image: url("../img/product-3.png");
}

.slider {
  position: relative;
  
  margin-top: 320px;
  padding-bottom: 41px;
  
  text-align: center;
  color: #ffffff;
}

.slider-list {
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.slide {
  display: none;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 27px;
  
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
}

.slide-btn {
  display: inline-block;
  padding: 12px 44px;

  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
}

.slider-controls {
  position: absolute;
  bottom: 62px;
  left: 0;
  z-index: 20;
  
  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/product-1.png");
}

#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/product-2.png");
}

#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/product-3.png");
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

.page-title {
  margin: 0;
  padding: 0;
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.filter-item {
  margin: 0;
  padding: 0;
  
  border: none;
}

.sorter-filter select {
  width: 194px;
  height: 37px;
  padding: 5px 16px;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 30px;
}

.filter-item legend {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.range-filter {
  width: 220px;
  margin-top: 0;
}

.price-controls {
  font-size: 0;
  width: 220px;
}

.price-controls label {
  display: inline-block;

  width: 110px;
  
  font-size: 16px;
}

.price-controls input {
  width: 30px;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  text-align: center;
  color: #ffffff;

  background-color: transparent;
  border: 0;
}

.range-controls {
  position: relative;

  height: 21px;
  margin-top: 6px;
  padding-top: 16px;
  padding-right: 22px;
  padding-left: 22px;

  background-color: rgba(255, 255, 255, 0.2);
  
  border-radius: 30px;
}

.range-controls .scale {
  height: 4px;

  background-color: #d1dad3;
}

.range-controls .bar {
  width: 102px;
  height: 4px;
  margin-left: 22px;
  background:#f8f7f4;
}

.range-controls .toggle {
  position: absolute;
  top: 7px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 40px;
}

.range-controls .toggle-max {
  left: 140px;
}

.breadcrumbs {
  display: flex;
  justify-content: space-between;

  margin: 0;
  margin-top: 22px;
  padding: 0;
  
  list-style: none;
  width: 220px;
}

.breadcrumbs a {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #ffffff;
  border-bottom: 1px solid  rgba(255,255,255, 0.3);
}

.breadcrumbs .breadcrumbs-current a  {
  border-bottom: none;
}

.pagination-list a {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
}

.pagination-item-current a {
  color: #323232;

  background-color: #ffffff;
}

.promo-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  
}

.promo-block {
  background-color: #020002;
}

.promo-block h3 {
  padding: 16px 0 0 19px;
  margin: 0;
  margin-bottom: 15px;
  font-size: 35px;
  line-height: 41px;
}

.promo-block p {
  padding: 0 20px 0 20px;
  margin: 0;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.promo-block-strawberry {
  width: 560px;
  object-fit: contain;

  background-image: url("../img/bg-strawberry.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  border-radius: 15px;
}

.promo-block-chocolate {
  width: 560px;
  object-fit: contain;

  background-image: url("../img/bg-chocolate.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  border-radius: 15px;
}

.btn-promo-wrapper {
  text-align: right;
  padding-bottom: 25px;
  margin-top: 44px;
  margin-right: 22px;
  
}

.btn-promo {
  display: inline-block;
  padding: 10px 21px 10px 23px;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.hits {
  margin-bottom: 40px;
}

.catalog-list {
  
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.catalog-item {
  position: relative;
  text-align: center;
  width: 267px;
  margin: 0;
  padding: 0;
}

.catalog-item:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 104%;
  height: 107%;
  margin-top: -3%;
  margin-left: -2%;
  padding-bottom: 60px;
  background-color: rgba(255, 255, 255, .2);
  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, .4);
  z-index: 1;
}

.catalog-item-image img {
  border-radius: 50%;
}

.catalog-item-hit::before {
  position: absolute;
  top: 0;
  left: -15px;
  content: "";
  width: 61px;
  height: 61px;
  object-fit: contain;

  margin-left: 15px;

  background-color: transparent;
  background-image: url("../img/hit.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  border: 0;
}

.catalog-item-price {
  position: absolute;
  bottom: 64px;
  left: -1px;
  font-size: 45px;
  line-height: 45px;
  word-spacing: -8px;
}

.kilo {
  font-size: 30px;
  
}

.catalog-item h3 {
  margin: 0;
  margin-top: 5px;
}

.catalog-item .catalog-item-title {
  
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #ffffff;
}

.catalog-item:hover .quick-review {
  display: block;
}

.quick-review {
  position: absolute;
  left: 53%;
  display: none;
  margin: 10px 10px 10px -101px;
  padding: 10px 18px;
  text-align: center;
  z-index: 1;
}

.pagination-list {
  margin-bottom: 30px;

  list-style: none;
  text-align: right;
}

.pagination-item {
  display: inline-block;
}

.pagination-item-current a {
  color: #323232;

  background-color: #ffffff;
}

.pagination-list a {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
}

.features {
  margin-bottom: 40px;

  font-weight: 400;
  color: #323232;

  background-color: #ebdfc5;
  background-image: url("../img/bg-features.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  object-fit: contain;
  border-radius: 15px;
}

.features h2 {
  margin: 0;
  padding: 23px 0 0 20px;

  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.features-list {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 0;
 
  margin: 0;
  
  list-style: none;
}

.features-item p {
  position: relative;
  margin: 0;
  margin-top: 15px;
  padding: 0;
}

.features-item {
  width: 476px;
  margin: 0;
  padding: 5px 15px 26px 76px;
}

.features-item-right {
  padding-right: 27px;
}


.features-item .feature-icon-leaf {
  margin-top: 22px;
}

.features-item .feature-icon-cow {
  margin-bottom: 22px;
}

.feature-icon-icecream::before {
  position: absolute;
  top: -11px;
  left: -71px;
  content: "";
  width: 49px;
  height: 49px;
  object-fit: contain;

  margin-left: 15px;

  background-color: transparent;
  background-image: url("../img/ice-cream.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.feature-icon-leaf::before {
  position: absolute;
  top: -11px;
  left: -71px;
  content: "";
  width: 49px;
  height: 49px;
  object-fit: contain;

  margin-left: 15px;

  background-color: transparent;
  background-image: url("../img/eco.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.feature-icon-cow::before {
  position: absolute;
  top: -11px;
  left: -73px;
  content: "";
  width: 49px;
  height: 49px;
  object-fit: contain;

  margin-left: 15px;

  background-color: transparent;
  background-image: url("../img/cow.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.feature-icon-thermometer::before {
  position: absolute;
  top: -11px;
  left: -73px;
  content: "";
  width: 49px;
  height: 49px;
  object-fit: contain;

  margin-left: 15px;

  background-color: transparent;
  background-image: url("../img/thermometer.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}


.blog-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.blog {
  width: 560px;

  color: #323232;
  
  background-color: #ffffff;
  background-image: url("../img/bg-blog.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  object-fit: contain;
  border-radius: 15px;
}

.blog h3 {
  padding: 24px 0 0 20px;
  margin: 0;
  margin-bottom: 3px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.blog-item {
  display: inline-block;
  width: 281px;
  padding-left: 19px;
  padding-bottom: 81px; 

  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-decoration: underline;
  color: #323232;
}

.appointment {
  width: 560px;

  color: #323232;
  
  background-color:#f8f7f4;
  background-image: url("../img/bg-post.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  object-fit: contain;
  border-radius: 15px;
}

.appointment-wrapp {
  font-weight: 400;

  width: 549px;

  background-color: #f8f7f4;
  border-radius: 10px;
  margin: 4px 5px 5px 6px;
}

.subscribe {
  width: 506px;
  margin: 0;
  margin-bottom: 34px;
  padding: 30px 20px 0 21px;
}

.subscribe-form {
  padding-left: 20px;
  padding-bottom: 35px;
}

.subscribe-form input[type="text"] {
  width: 350px;
  padding: 12px 2px 13px 13px;

  background-color: #ffffff;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
}

.btn-send-subscribe {
  width: 129px;
  height: 44px;

  margin-bottom: 3px;
  margin-left: 9px;

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  
  box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
  background-image: linear-gradient(to top, var(--tomato), #f26843);
  border-radius: 30px;
}

.map-contacnts {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  padding: 0;
}

.map-contacnts-icon::before {
  position: absolute;
  top: 137px;
  left: 265px;
  content: "";
  width: 80px;
  height: 140px;
  object-fit: contain;

  background-color: transparent;
  background-image: url("../img/pin.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.map {
  width: 1200px;
  height: 432px;
  padding: 0;
  margin: 0;
}

.contacts {
  display: inline-block;
  position: absolute;
  top: 61px;
  right: 27px;
  margin: 0;
  padding: 0;
  padding-bottom: 43px;
  width: 302px;
  
  
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #323232;

  background-color: #ffffff;
  border-radius: 5%;
}

.contacts-address {
  padding: 28px 57px 0 25px;
  margin: 0;
  margin-bottom: 20px;
  
  width: 225px;
}

.contacts-address b {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.contacts-phone {
  padding: 0 57px 10px 25px;
  margin: 0;
  margin-bottom: 29px;

  width: 225px;
  
}

.contacts-phone b {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.btn-feedback-form {
  padding: 9px 28px 13px 29px;
  margin: 0 24px 31px 24px;

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.main-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 103px;

  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #fefefe;
}

.inner-page .main-footer {
  border-top: 1px solid  rgba(255,255,255, 0.3);
}

.main-footer a {
  color: #ffffff;
}

.footer-social {  
  font-size: 0;
  width: 190px;
}

.social-links {
  display: flex;
  justify-content: space-between;  
  padding: 0;
  margin: 0;
  
  list-style: none;
}

.social-btn {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 38px;
  height: 38px;
  margin-right: 7px;
  
  background-position: 3px 3px;
  background-repeat: no-repeat;
  border: 2px solid #c2cec7;
  border-radius: 50px;
}

.social-btn-tv {
  background-image: url("../img/twitter.svg");
}

.social-btn-in {
  background-image: url("../img/instagram.svg");
}

.social-btn-fb {
  background-image: url("../img/fb.svg");
}

.social-btn-vk {
  background-image: url("../img/vk.svg");
}

.documents {
  width: 330px;
  margin-left: 233px;
}

.documents-info {
  margin: 0;
  padding: 0;
  padding-top: 4px;
}

.item-info {
  display: inline-block;
  margin-bottom: 5px;
  border-bottom: 1px solid rgba(209, 208, 206, 0.2);
}

.suppliers {
  position: relative;
}

.heart-icon {
  position: absolute;
  top: 3px;
  left: -23px;
  width: 15px;
  height: 13px;

  font-size: 0;

  background-image: url("../img/heart.svg");
}

.our-documents {
  margin-left: 29px;
}

.eco {
  margin-left: 41px;
}

.footer-copyright {
  display: flex;
  flex-direction: column;
  width: 195px;
  padding: 0;
  margin: 0;
  padding-bottom: 13px;
  margin-left: 213px;

  font-size: 12px;
}

.footer-copyright span {
 margin-top: 7px;
}

.link-copyright {
  border-bottom: 1px solid rgba(209, 208, 206, 0.2);
}

.inner-page .footer-copyright {
  padding-top: 18px;
}

.htmlacademy-logo {
  width: 108px;
  height: 39px;
}


.feedback {
  display: none;
  position: absolute;
  top: 75%;
  right: 25%;
  width: 478px;
  padding-bottom: 25px;
  padding-left: 24px;

  color: #323232;

  background-color: #f8f7f4;
  border-radius: 5px;
}

.feedback h2 {
  margin: 20px 0 20px 0;
}

.close-popup {
  position: absolute;
  top: 15px;
  right: 15px;
  content: "";
  width: 18px;
  height: 17px;
  object-fit: contain;

  margin-left: 15px;

  background-color: transparent;
  background-image: url("../img/cross-big.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  border: 0;
}

.feedback-form input[type="text"] {
  margin: 0;
  margin-bottom: 20px;
  width: 267px;
  padding: 10px 0 10px 15px;
  border-radius: 5px;
  background-color: ffffff;
  border: 1px solid #d3d3d2;
}

.feedback-form input[type="text"]:hover {
  border: 2px solid #c7c6c5;
}

.feedback-form-group textarea {
  padding: 10px 15px;
  margin-bottom: 25px;

  width: 416px;
  height: 155px;

  background-color: #ffffff;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
}

.feedback-form-group textarea:hover {
  border: 2px solid #c7c6c5;
}

.btn-send {
  padding: 10px 24px;
  margin-top: 5px;
  margin-left: 321px;
}

.feedback-form p {
  margin: 0;
  padding: 0;
}
