/* basic styles */

body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  color: #ffffff;

  background-color: #849d8f; 
  background-position: 0 0;
  background-repeat: repeat;
}

.inner-page {
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, .2), transparent 650px);
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, .2), transparent 650px);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, .2), transparent 650px);
}

.site-wrapper {
  min-width: 1146px;

  background-color: #849d8f;
  background-image: url("../img/banner-photo.png");
  background-repeat: no-repeat;
  background-position: top center;

  -webkit-transition: background-image 0.5s ease, background-color 0.5s ease;

  -o-transition: background-image 0.5s ease, background-color 0.5s ease;

  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.overlay {
  position: fixed; 
  top: 0; 
  left: 0; 
  z-index: 51; 

  width: 100%;
  height: 100%; 
  
  background-color: #000000; 
  opacity: 0.30; 
}

.container {
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.visually-hidden-radio {
  position: absolute;

  width: 1px;
  height: 1px;

  clip: rect(0, 0, 0, 0);
}

a {
  text-decoration: none;
}

.btn {
  font: inherit;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  text-transform: none;
  
  background-color: #e74a35;
  background-image: -webkit-gradient(linear,left bottom, left top,from(#e74a35),to(#f26843));
  background-image: -webkit-linear-gradient(bottom,#e74a35 0%,#f26843 100%);
  background-image: -o-linear-gradient(bottom,#e74a35 0%,#f26843 100%);
  background-image: linear-gradient(to top,#e74a35 0%,#f26843 100%); 
  -webkit-box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64); 
          box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
  border-radius: 50px;
  border: none;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background-color: #f26843;
  background: -webkit-gradient(linear,left top, left bottom,from(#f58669),to(#ec6f5e));
  background: -webkit-linear-gradient(top,#f58669 0%,#ec6f5e 100%);
  background: -o-linear-gradient(top,#f58669 0%,#ec6f5e 100%);
  background: linear-gradient(to bottom,#f58669 0%,#ec6f5e 100%);
  -webkit-box-shadow: 0 2px 2px #ac1000;
          box-shadow: 0 2px 2px #ac1000;
}

.btn:active {
  background: -webkit-gradient(linear,left top, left bottom,from(#d84732),to(#e1613e));
  background: -webkit-linear-gradient(top,#d84732 0%,#e1613e 100%);
  background: -o-linear-gradient(top,#d84732 0%,#e1613e 100%);
  background: linear-gradient(to bottom,#d84732 0%,#e1613e 100%);
  -webkit-box-shadow: inset 0 2px 2px #ac1000;
          box-shadow: inset 0 2px 2px #ac1000;
}

/* header */

.main-header {
  height: 64px;
}

.main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 9px;

  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.menu-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 600px; 
}

.main-logo {
  width: 154px;
  height: 64px;
  margin-right: 23px;
}

.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 400px;
  padding: 0;
  margin: 0;
  margin-top: 7px;
}

.site-navigation > li {
  display: inline-block;
  height: 30px;
  margin-right: 27px;

  position: relative;

  vertical-align: top;
}

.site-navigation-current {
  padding: 7px 13px 7px 14px;
  margin: -7px -13px -7px -14px;

  background-color: #d07058;
  border-radius: 20px;
}

.site-navigation-link {
  display: block;
  
  vertical-align: middle;
  color: #ffffff;
  border-bottom: 1px solid  rgba(255,255,255, 0.3);
}

.site-navigation .site-navigation-link:hover,
.site-navigation .site-navigation-link:focus {
  padding: 7px 13px 7px 14px;
  margin: -7px -13px -7px -14px;

  color: #333333;

  background-color: #f7f6f3;
  border-radius: 20px;
}

.site-navigation .site-navigation-link:active {
  color: #323232;

  background-color: #ededed;
  -webkit-box-shadow: inset 0px 2px 1px 0 #696969;
          box-shadow: inset 0px 2px 1px 0 #696969;
}

.site-navigation .sub-menu {
  display: none;
  width: 143px;
  padding: 0;
  margin: 0;

  position: absolute;
  top: 29px;
  left: -15px;
  z-index: 1;
  
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  list-style: none;
  color: #323232;

  background-color: #f8f7f4;
  -webkit-box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.sub-menu a {
  color: #323232;
}

.sub-menu li:first-child {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;

  border-bottom: 1px solid rgba(209, 208, 206, 0.2);
}

.site-navigation-item:hover .sub-menu,
.site-navigation-item:focus .sub-menu {
  display: block;
}

.sub-menu a:hover,
.sub-menu a:focus {
  color: #323232;

  background-color: #fbded7;
  border-radius: 5px;
}

.sub-menu a:active {
  color: #323232;

  background-color: #f6b5a5;
}

.sub-menu a {
  display: block;
  padding: 12px 0 12px 20px;
}

.sub-menu-link {
  background-color: #d07058;
  pointer-events: none;
}

.user-navigation a {
  display: block;

  color: #ffffff;
}

.user-navigation-wrapper {
  width: 253px;
}

.inner-page .user-navigation-wrapper {
  width: 267px;
}

.user-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.search-link {
  position: relative;
  
  margin-left: 5px;
}

.search-icon {
  position: relative;
  width: 33px;
  height: 33px;

  margin-bottom: 5px;
  
  font-size: 0px;
  line-height: 16px;
  font-weight: 500;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
} 

.search-icon:hover,
.search-icon:focus {
  background-color: #f8f7f4;
}

.search-icon::before {
  position: absolute;
  content: "";
  top: 8px;
  left: 8px;

  width: 17px;
  height: 17px;
  
  background-image: url("../img/searher.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
} 

.search-icon:hover::after,
.search-icon:focus::after  {
  position: absolute;
  content: "";
  top: 8px;
  left: 8px;

  width: 17px;
  height: 17px;
  
  background-image: url("../img/searcher-black.png");
  background-repeat: no-repeat;
  background-position: 0 0;
} 

.search-form-wrapper {
  display: none;
  width: 341px;

  position: absolute;
  top: 35px;
  right: 0;
  z-index: 1;
}

.search-link:hover .search-form-wrapper {
  display: block;

  background-color: #f8f7f4;
  -webkit-box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.search-form-wrapper input[type="search"] {
  width: 311px;
  padding: 10px 14px;
  margin: 20px 0 20px 15px;
 
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  white-space: nowrap;
  overflow: hidden;
  outline: none;

  border: 1px solid rgba(178,178,178,.52);
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.search-form-wrapper input[type="search"]:hover {
  padding: 9px 13px;

  border: 2px solid rgba(154, 154, 154, .52);
}

.search-form-wrapper input[type="search"]:focus {
  border: 2px solid #8fbdec;

  padding: 9px 13px;
}

.user-navigation {
  padding: 0;
  margin: 0;
 
  
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  list-style: none;
}

.user-navigation .btn-login:hover,
.user-navigation .btn-login:focus {
  color: #333333;

  background-color: #f7f6f3;
}

.login-link,
.cart {
  display: inline-block;
  margin-right: 5px;

  position: relative;
  vertical-align: top;
}

.btn-login {
  position: relative;

  padding: 8px 16px 8px 45px;
  margin-bottom: 5px;
  margin-left: 4px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 500;

  background-color: rgba(255, 255, 255, .2);
  border-radius: 50px;
}

.cart-link {
  position: relative;

  padding: 8px 16px 8px 45px;
  margin-bottom: 5px;
  margin-right: 1px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 500;

  background-color: rgba(255, 255, 255, .2);
  border-radius: 50px;
}

.inner-page .cart-link {
  color: #323232;

  background-color: #f7f6f3;
}

.btn-login::before {
  position: absolute;
  content: "";
  top: 6px;
  left: 17px;

  width: 21px;
  height: 19px;
  
  background-image: url("../img/entrance-white.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.btn-login:hover::before,
.btn-login:focus::before {
  position: absolute;
  content: "";
  top: 4px;
  left: 17px;

  width: 21px;
  height: 19px;
  background-image: url("../img/entrance.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.cart-link::before {
  position: absolute;
  content: "";
  top: 6px;
  left: 16px;

  width: 21px;
  height: 19px;
  
  background-image: url("../img/basket.svg");
  background-repeat: no-repeat;
  background-position: 0 0; 
}

.inner-page .cart-link::before {
  position: absolute;
  content: "";
  top: 6px;
  left: 15px;

  width: 21px;
  height: 19px;
  
  background-image: url("../img/basket-red.svg");
  background-repeat: no-repeat;
  background-position: 0 0; 
}

.filter-item p {
  margin: 0;
  padding: 0;
}

.login-form-wrapper {
  display: none;
  width: 277px;

  position: absolute;
  top: 37px;
  right: 0;
  z-index: 1;
}

.login-link:hover .login-form-wrapper {
  display: block;
  
  border-radius: 5px;
  -webkit-box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, .4);
          box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, .4);
  background-color: #f8f7f4;
}

.login-form-item {
  margin: 0;
}

.login-form-item input[type="text"],
.login-form-item input[type="password"] {
  width: 241px;
  padding: 10px 14px;
  margin: 20px 17px 0 19px;

  
  font-size: 16px;
  line-height: 24px;
  color: #000;
  white-space: nowrap;
  overflow: hidden;

  border: 1px solid rgba(178, 178, 178, .52);
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.login-form-item input[type="text"]:hover,
.login-form-item input[type="password"]:hover {
  padding: 9px 13px;

  border: 2px solid rgba(154, 154, 154, .52);
}

.login-form-item input[type="text"]:focus,
.login-form-item input[type="password"]:focus {
  padding: 9px 13px;

  border: 2px solid #8fbdec;
}

.login-items-wrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;

  margin-top: 15px;
  margin-bottom: 23px;
}

.login-password-info {
  width: 119px;
  padding: 0;
  margin: 0;
  margin-right: 5px;
}

.login-password-info .info-item {
  margin: 0;
  padding: 0;
  
  font-size: 13px;
  line-height: 22px;
  font-weight: 400;
  color: #323232;
  text-decoration: underline;
}

.login-submit {
  width: 100px;
  padding: 0;
  margin: 0;
  margin-left: 5px;
}

.btn-submit {
  padding: 10px 25px;
  
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;

  border-radius: 21px;
  cursor: pointer;
}

.cart {
  position: relative;

  display: inline-block;
  padding: 0;
  margin: 0;

  vertical-align: top;
}

.cart-form {
  display: none;
  width: 540px;

  position: absolute;
  top: 35px;
  right: 0;
  z-index: 1;
}

.cart:hover .cart-form-active {
  display: block;

  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;

  border-radius: 5px;
  -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
}

.cart-form-active ul {
  margin: 0;
  padding: 0;
}

.cart-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  margin: 0 15px;
  padding: 0;
}
.cart-item:first-child {
  margin-top: 5px;
}

.cart-item:last-child {
  padding-bottom: 10px;

  border-bottom: 1px solid #cacac7;
}

.remove-good {
  width: 11px;
  height: 11px;

  background-color: transparent;
  background-image: url("../img/cross-small.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  border: 0;
}

.cart-item img {
  margin-left: 15px;

  border-radius: 20px;
}

.cart-item h3 {
  width: 220px;
  margin-left: 15px;

  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
}

.quantity-per-price {
  margin-left: 30px;
}

.price {
  margin-left: 30px;
}

.total-price-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.total-price {
  margin: 15px;

  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
  color: #323232;
}

.btn-order {
  margin: 0 15px 20px 0;
  padding: 10px 22px;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  vertical-align: top;

}

.schedule {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
 
  font-size: 14px;
  line-height: 16px;
}

.schedule .hours,
.schedule .phone {
  width: 170px;

  padding: 0;
  margin: 0;
 
  text-align: end;
}

.schedule .phone {
  margin-top: 4px;
  margin-left: 1px;

  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
}

.schedule .phone-number {
  color: #ffffff;
}

/* slader */

.site-wrapper::before,
.site-wrapper::after {
  content: "";

  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("../img/product-2.png");
}

.site-wrapper::after {
  background-image: url("../img/product-3.png");
}

.slider {
  position: relative;
  
  margin-top: 329px;
  padding-bottom: 41px;
  
  text-align: center;
  color: #ffffff;
}

.slider-list {
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.slide {
  display: none;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 29px;
  
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
}

.slide-btn {
  display: inline-block;
  padding: 12px 44px;

  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
  vertical-align: top;
}

.slider-controls {
  position: absolute;
  bottom: 62px;
  left: 0;
  z-index: 20;
  
  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label:hover,
.slider-controls label:focus {
  background-color: #b2c1b7;
}

.product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/product-1.png");
}

.product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/product-2.png");
}

.product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/product-3.png");
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

.product-1:checked ~ .site-wrapper label[for="product-1"],
.product-2:checked ~ .site-wrapper label[for="product-2"],
.product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

.page-title {
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
  
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

/* filter */

.filter-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  width: 860px;
  margin-bottom: 40px;
}

.filter-item {
  margin: 0;
  padding: 0;
  
  border: none;
}

.filter-item legend {
  padding-left: 16px;
  margin-bottom: 6px;

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
}

.sorter-filter select::-ms-expand {
  display: none;
}

.sorter-filter select {
  position: relative;

  width: 193px;
  height: 36px;
  padding: 0 35px 0 15px;
  margin-bottom: 15px;

  font-size: 16px;
  line-height: 36px;
  color: #ffffff;

  background-color: rgba(255,255,255,.2);
  background-image: url("../img/icon-down-white.svg");
  background-repeat: no-repeat;
  background-position: 170px 50%;
  border: none;
  border-radius: 18px;
  -webkit-appearance: none;
}

.sorter-filter select:hover {
  color: #323232;

  background-image: url("../img/icon-down-dir.svg");
}

.filter-form option {
  color: #343434;
}

.range-filter {
  width: 220px;
  margin-top: 0;
}

.price-controls {
  width: 220px;
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 110px;
  
  font-size: 16px;
  vertical-align: top;
}

.price-controls input {
  width: 30px;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  text-align: center;
  color: #ffffff;

  background-color: transparent;
  border: 0;
}

.range-controls {
  position: relative;

  height: 21px;
  padding: 16px 22px 0 22px;;

  background-color: rgba(255, 255, 255, 0.2);  
  border-radius: 30px;
}

.range-controls .scale {
  height: 4px;

  background-color: #d1dad3;
}

.range-controls .bar {
  width: 102px;
  height: 4px;
  margin-left: 22px;

  background-color: #f8f7f4;
}

.range-controls .toggle {
  position: absolute;
  top: 7px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 40px;
}

.range-controls .toggle-max {
  left: 140px;
}

.range-controls .toggle-min:hover {
  width: 6px;
  height: 6px;

  left: 39px;
}

.range-controls .toggle-max:hover {
  width: 6px;
  height: 6px;

  left: 139px;
}

.filter-form .fatnesses-wrapper {
  display: inline-block;
  height: 36px;
  padding: 0 15px;

  font-size: 16px;
  line-height: 36px;
  font-weight: 400;
  color: #fff;
  vertical-align: top;

  background-color: rgba(255,255,255,.2);
  border-radius: 18px;
}

.input-radio,
.input-checkbox {
  padding: 0;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;  
}

.input-radio+label{
  margin-right: 17px;
  cursor: pointer;
}

.input-checkbox+label:last-child,
.input-radio+label:last-child {
  margin-right: 5px;
}

.input-checkbox+label {
  margin-right: 20px;
  cursor: pointer;
}

.input-radio+label::before {
  display: inline-block;
  margin-right: 14px;
  width: 8px;
  height: 8px;

  content: "";

  vertical-align: middle;
  -webkit-box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.8);
          box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.8);
  border: 3px solid transparent;
  border-radius: 50%;
}

.input-radio:checked+label::before {
  background-color: rgba(255, 255, 255, 0.8);
  border: 3px solid #9db1a6;
}

.input-radio:checked+label:hover::before {
  background-color: rgba(255, 255, 255, 1);
  border: 3px solid #9db1a6;
}

.input-radio+label:hover::before {
  -webkit-box-shadow: 0 0 0 4px rgba(255, 255, 255, 1);
          box-shadow: 0 0 0 4px rgba(255, 255, 255, 1);
}

.filter-form .filler-wrapper {
  display: inline-block;
  height: 36px;
  padding: 0 15px;

  font-size: 16px;
  line-height: 36px;
  font-weight: 400;
  color: #ffffff;
  vertical-align: top;

  background-color: rgba(255,255,255,.2);
  border-radius: 18px;
}

.input-checkbox:checked+label {
  position: relative;
}

.input-checkbox:checked+label::before {
  display: inline-block;
  width: 24px;
  height: 20px;
  margin-right: 7px;

  content: "";
  
  background: url("../img/checkbox-on.svg") no-repeat;
  background-position: 0px 0px;
  background-size: cover;
}

.input-checkbox+label::before {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 11px;

  content: "";
  
  background: url("../img/checkbox-off.svg") no-repeat;
  background-position: 0px 0px;
  background-size: cover;
  vertical-align: middle;
  opacity: 0.8;
}

.input-checkbox+label:hover::before {
  opacity: 1;
}

.input-checkbox:focus+label::before,
.input-radio:focus+label::before {
  outline: auto;
}

.filter-form .btn-filter {
  width: 144px;
  height: 36px;
  margin-top: 21px;
  padding: 7px 26px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  vertical-align: top;

  background-color: rgba(255, 255, 255, .2);
  border: 2px solid #ffffff;
  border-radius: 19px;
  cursor: pointer;
  outline: none;
}

.filter-form .btn-filter:hover,
.filter-form .btn-filter:focus {
  color: #323232;

  background-color: #ffffff;
}

.filter-form .btn-filter:active {
  padding: 9px 28px;

  background-color: #ededed;
  -webkit-box-shadow: inset 0px 2px 1px 0 #696969;
          box-shadow: inset 0px 2px 1px 0 #696969;
  border: none;
}

/* main */
.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  width: 220px;
  padding: 0;
  margin: 0;
  margin-top: 29px;
  margin-bottom: 5px;
  
  list-style: none;
}

.breadcrumbs a {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #ffffff;

  border-bottom: 1px solid  rgba(255,255,255, 0.3);
}

.breadcrumbs .breadcrumbs-current a  {
  border-bottom: none;
}

.pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  
  padding: 0;
  margin: 0;
  margin-top: 43px;
  margin-bottom: 26px;

  list-style: none;
}

.pagination-item {
  margin-right: 3px;
}

.pagination-item:first-child {
  margin-right: 0;
}

.pagination-item-left {
  position: relative;

  margin-right: 25px;
}

.icon-current::before {
  position: absolute;
  content: "";
  top: 11px;
  left: 3px;

  width: 8px;
  height: 1px;

  background-color: rgba(255,255,255,.2);

  -webkit-transform: rotate(-45deg);

      -ms-transform: rotate(-45deg);

          transform: rotate(-45deg);
}

.icon-current::after {
  position: absolute;
  content: "";
  top: 16px;
  left: 3px;

  width: 8px;
  height: 1px;

  background-color: rgba(255,255,255,.2);

  -webkit-transform: rotate(45deg);

      -ms-transform: rotate(45deg);

          transform: rotate(45deg);
}

.pagination-item-right {
  position: relative;
  
  margin-left: 6px;
}

.icon-active {
  display: inline-block;
  vertical-align: middle;
  width: 15px;
  height: 30px;
}

.icon-active::before {
  position: absolute;
  content: "";
  top: 11px;
  left: 9px;

  width: 8px;
  height: 1px;

  background-color: #ffffff;

  -webkit-transform: rotate(45deg);

      -ms-transform: rotate(45deg);

          transform: rotate(45deg);
}

.icon-active::after {
  position: absolute;
  content: "";
  top: 16px;
  left: 9px;

  width: 8px;
  height: 1px;

  background-color: #ffffff;

  -webkit-transform: rotate(-45deg);

      -ms-transform: rotate(-45deg);

          transform: rotate(-45deg);
}

.pagination-item a {
  display: block;
  padding: 5px 8px 3px 9px;
 
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  
  border-radius: 50px;
}

.pagination-item a:hover {
  background-color: rgba(255,255,255,.2);
}

.pagination-item a:active {
  color: #323232;

  background-color: #ffffff;
}

.pagination-item-current a {
  color: #323232;

  background-color: #ffffff;
}

.promo-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  
  margin-bottom: 15px;
}

.promo-block {
  background-color: #020002;
}

.promo-block h3 {
  padding: 16px 0 0 19px;
  margin: 0;
  margin-bottom: 15px;

  font-size: 35px;
  line-height: 41px;
}

.promo-block p {
  padding: 0 20px;
  margin: 0;

  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.promo-block-strawberry {
  width: 560px;
  margin-bottom: 25px;

  background-color: #8f0630;
  background-image: url("../img/bg-strawberry_x2.png");
  background-position: 0 0;
  background-repeat: repeat;
  border-radius: 15px;
}

.promo-block-chocolate {
  width: 560px;
  margin-bottom: 25px;

  background-color: #654d49;
  background-image: url("../img/bg-chocolate_x2.png");
  background-position: 0 0;
  background-repeat: repeat;
  border-radius: 15px;
}

.btn-promo-wrapper {
  padding-bottom: 25px;
  margin-top: 44px;
  margin-right: 22px;
  text-align: right;
}

.btn-promo {
  display: inline-block;
  padding: 10px 21px 10px 23px;

  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  vertical-align: top;
}

.catalog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  padding: 0;
  margin: 0;
  margin-right: -25px;
  margin-left: -25px;

  list-style: none;
}

.catalog-item {
  position: relative;

  width: 268px;
  padding: 0;
  margin: 0;
  margin-bottom: 38px;
  margin-left: 25px;

  text-align: center;
}

.catalog-item-hit::before {
  position: absolute;
  content: "";
  top: 0;
  left: -15px;

  width: 61px;
  height: 61px;
  margin-left: 15px;

  background-color: transparent;
  background-image: url("../img/hit.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  border: 0;
}

.catalog-item:hover::after {
  display: block;
  width: 104%;
  height: 107%;
  margin-top: -3%;
  margin-left: -2%;
  padding-bottom: 60px;

  position: absolute;
  content: "";
  top: 0;
  left: 0;
  z-index: 1;

  background-color: rgba(255, 255, 255, .2);
  -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, .4);
          box-shadow: 0 20px 20px rgba(0, 0, 0, .4);
  border-radius: 5px;
}

.catalog-item-image img {
  border-radius: 50%;
}

.catalog-item-price {
  position: absolute;
  bottom: 64px;
  left: -1px;

  font-size: 45px;
  line-height: 45px;
  word-spacing: -8px;
}

.kilo {
  font-size: 30px;
}

.catalog-item h3 {
  margin: 0;
  margin-top: 5px;
}

.catalog-item-title {
  position: relative;
  z-index: 5;

  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #ffffff;

  border-bottom: 1px solid rgba(209, 208, 206, .2);
}

.catalog-item-title:hover,
.catalog-item-title:focus,
.catalog-item-title:active {
  color: #ffbc9e;

  border-bottom: 1px solid rgba(255, 188, 158, 1);
}

.catalog-item:hover .quick-review {
  display: block;
}

.quick-review {
  display: none;
  margin: 10px 10px 10px -101px;
  padding: 10px 18px;

  position: absolute;
  left: 53%;
  z-index: 5;

  text-align: center;
}

.features {
  margin-bottom: 40px;

  font-weight: 400;
  color: #323232;

  background-color: #ebdfc5;
  background-image: url("../img/vafla.png");
  background-position: 0 0;
  background-repeat: repeat;
  border-radius: 15px;
}

.features h2 {
  padding: 23px 0 0 20px;
  margin: 0;
  margin-bottom: 20px;

  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.features-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;

  padding: 0;
  margin: 0;
  
  list-style: none;
}

.features-item {
  position: relative;

  width: 480px;
  margin-left: 75px;
  margin-bottom: 24px; 
}

.features-item:nth-child(odd) {
  margin-right: 14px;
}

.feature-icon-icecream::before {
  position: absolute;
  content: "";
  top: -11px;
  left: -71px;
  
  width: 49px;
  height: 49px;

  margin-left: 15px;

  background-color: transparent;
  background-image: url("../img/ice-cream.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.feature-icon-leaf::before {
  position: absolute;
  content: "";
  top: -11px;
  left: -71px;
  
  width: 49px;
  height: 49px;

  margin-left: 15px;

  background-color: transparent;
  background-image: url("../img/eco.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.feature-icon-cow::before {
  position: absolute;
  content: "";
  top: -11px;
  left: -73px;
  
  width: 49px;
  height: 49px;

  margin-left: 15px;

  background-color: transparent;
  background-image: url("../img/cow.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.feature-icon-thermometer::before {
  position: absolute;
  content: "";
  top: -11px;
  left: -73px;
  
  width: 49px;
  height: 49px;

  margin-left: 15px;

  background-color: transparent;
  background-image: url("../img/thermometer.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}


.blog-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 13px;
}

.blog {
  width: 560px;
  margin-bottom: 25px;

  color: #323232;
  
  background-color: #ffffff;
  background-image: url("../img/bg-blog_new.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  border-radius: 15px;
}

.blog h3 {
  padding: 24px 0 0 20px;
  margin: 0;
  margin-bottom: 3px;

  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.blog-item {
  display: inline-block;
  width: 281px;
  padding-left: 19px;
  padding-bottom: 81px; 

  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-decoration: underline;
  color: #323232;
  vertical-align: top;
}

.blog-item:hover,
.blog-item:focus,
.blog-item:active {
  color: #e84d37;
}

.appointment {
  position: relative;

  width: 560px;
  margin-bottom: 25px;

  color: #323232;
  
  background-color:#f8f7f4;
  background-image: url("../img/bg-post_new.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  border-radius: 15px;
}

.appointment::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  z-index: 1;

  margin: 4px 5px 5px 6px;
  width: 549px;
  height: 210px;

  font-weight: 400;

  background-color: #f8f7f4;
  border-radius: 10px;
}

.subscribe {
  position: relative;
  z-index: 2;

  width: 515px;
  padding: 35px 20px 0 26px;
  margin: 0;
  margin-bottom: 34px;
}

.subscribe-form {
  position: relative;
  z-index: 2;

  padding-left: 25px;
  padding-bottom: 35px;
}

.subscribe-form input[type="text"] {
  width: 369px;
  padding: 10px 14px;
  margin-top: 0;
  margin-right: 0;
  
  
  font-size: 16px;
  line-height: 24px;
  color: #323232;
  white-space: nowrap;
  overflow: hidden;

  border: 1px solid rgba(178,178,178,.52);
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.subscribe-form input[type="text"]:hover {
  padding: 9px 13px;

  border: 2px solid rgba(154,154,154,.52);
}

.subscribe-form input[type="text"]:focus {
  padding: 9px 13px;

  border: 2px solid #8fbdec;
}

.btn-send-subscribe {
  width: 129px;
  height: 44px;
  margin-bottom: 2px;
  margin-left: 8px;

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  
  border-radius: 30px;
}

.map-contacts {
  position: relative;
  
  width: 100%;
  height: 430px;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 5px;
  
  background-color: #e2dabd;
  background-image: url("../img/map.png");
  background-repeat: no-repeat;
  background-position: top center;
}

.map-contacts iframe {
  position: relative;
  z-index: 2;

  width: 100%;

  border: none;
}

.map-contacts-icon::before {
  position: absolute;
  content: "";
  top: 137px;
  left: 265px;
  
  width: 80px;
  height: 140px;

  background-color: transparent;
  background-image: url("../img/pin.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.map-contacts-icon::after {
  position: absolute;
  content: "";
  top: 169px;
  left: 304px;
  
  width: 182px;
  height: 110px;
  
  background-color: transparent;
  background-image: url("../img/cream-shadow.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.map {
  width: 1200px;
  height: 432px;
  padding: 0;
  margin: 0;
}

.contacts {
  position: absolute;
  top: -371px;
  right: 27px;
  z-index: 5;
 
  width: 302px;
  padding: 15px 25px;

  font-size: 14px;
  line-height: 20px;
  color: #323232;

  background-color: #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 15px;
}

.contacts-address {
  width: 150px;
  padding: 0;
  margin-top: 12px;
  margin-bottom: 2px;

  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #323232;
}

.contact-bold-address {
  margin-top: 10px;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.contacts .contact-bold-phone {
  margin-top: -20px;

  color: #000000;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}


.contacts-phone {
  padding: 0;
  margin: 0;
  margin-top: 16px;

  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #323232;
}

.contacts-hours {
  padding: 0;
  margin: 0;

  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #323232;
}

.map-button-wrapper {
  display: block;
  margin-top: 22px;
  margin-bottom: 17px;

  text-align: center;
}

.map-button-wrapper .site-button {
  padding-right: 30px;
  padding-left: 30px;
}

.btn-feedback-form {
  display: inline-block;
  padding: 10px 27px;
  margin-top: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  vertical-align: top;
  color: #ffffff;
}

/* footer */

.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  position: relative;

  padding-top: 14px;

  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #fefefe;
}

.inner-page .main-footer {
  padding-top: 18px;
  border-top: 1px solid  rgba(255,255,255, 0.3);
}

.main-footer a {
  color: #ffffff;
}

.footer-social {  
  width: 190px;

  font-size: 0;
}

.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  width: 200px;
  padding: 0;
  margin: 0;
  margin-top: 22px;

  list-style: none;
}

.social-btn {
  display: inline-block;
  width: 31px;
  height: 31px;
  margin-right: 15px;
  margin-left: 3px;
  margin-bottom: 10px;

  vertical-align: top;

  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 3px rgba(255, 255, 255, .6), inset 0 0 0 1px rgba(255, 255, 255, .6);
          box-shadow: 0 0 0 3px rgba(255, 255, 255, .6), inset 0 0 0 1px rgba(255, 255, 255, .6);
  opacity: .8;
}

.social-btn:hover,
.social-btn:focus {
  opacity: 1;
}

.social-btn:focus {
  opacity: .4;
}

.social-btn-tv {
  
  background-image: url("../img/twitter.svg");
}

.social-btn-in {
  background-image: url("../img/instagram.svg");
}

.social-btn-fb {
  background-image: url("../img/fb.svg");
}

.social-btn-vk {
  background-image: url("../img/vk.svg");
}

.documents {
  width: 385px;
  margin-top: 20px;
}

.documents-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  margin: 0;
  padding: 0;
  padding-left: 45px;

  list-style: none;
}

.documents-info li:first-child {
  position: relative;
}

.heart-icon {
  position: absolute;
  top: 0;
  left: -24px;

  width: 15px;
  height: 13px;

  font-size: 0;

  background-image: url("../img/heart.svg");
}

.item-info {
  width: 165px;
  margin-right: 0px;
}

.item-info:nth-child(even) {
  margin-left: -25px;
}

.item-info a {
  border-bottom: 1px solid rgba(209, 208, 206, 0.2);
}

.item-info a:hover,
.item-info a:focus,
.link-copyright:hover {
  color: #ffbc9e;

  border-bottom: 1px solid rgba(255, 188, 158, 1);
}

.footer-copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 190px;
  padding: 0;
  margin: 0;
  margin-top: 0px;
  
  font-size: 12px;
}

.link-copyright {
  border-bottom: 1px solid rgba(209, 208, 206, .2);
}

.htmlacademy-logo {
  width: 108px;
  height: 39px;
  margin-bottom: 5px;
}

/* modal-feedback-form */

.modal-feedback {
  display: none;
  width: 478px;
  padding-right: 25px;
  padding-left: 25px;
  margin-left: -239px;

  position: fixed;
  top: 100px;
  left: 50%;
  z-index: 52;
 
  color: #323232;

  background-color: #f8f7f4;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.modal-show {
  display: block;

  -webkit-animation: bounce 0.6s;

          animation: bounce 0.6s;
}

.modal-error {
  -webkit-animation: shake 0.6s;
          animation: shake 0.6s;
}

.feedback h2 {
  margin: 16px 0 0;

  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

.close-popup {
  position: absolute;
  content: "";
  top: 15px;
  right: 15px;
  
  width: 18px;
  height: 17px;
  margin-left: 15px;

  background-color: transparent;
  background-image: url("../img/cross-big.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  border: none;
  cursor: pointer;
}

.feedback-form input[type="text"] {
  width: 267px;
  padding: 10px 14px;
  margin-top: 20px ;
  
  font-size: 16px;
  line-height: 24px;
  color: #323232;
  white-space: nowrap;
  overflow: hidden;

  border: 1px solid rgba(178, 178, 178, .52);
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.feedback-form input[type="text"]:hover {
  padding: 9px 13px;

  border: 2px solid #c7c6c5;
}

.feedback-form input[type="text"]:focus {
  padding: 9px 13px;

  border: 2px solid #8fbdec;
}

.feedback-form-group textarea {
  width: 428px;
  height: 155px;
  padding: 10px 14px;
  margin-top: 20px;
 
  font-size: 16px;
  line-height: 24px;
  color: #323232;
  white-space: nowrap;
  overflow: hidden;

  border: 1px solid rgba(178,178,178,.52);
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.feedback-form-group textarea:hover {
  border: 2px solid #c7c6c5;

  padding: 9px 13px;
}

.feedback-form-group textarea:focus {
  padding: 9px 13px;

  border: 2px solid #8fbdec;
}

.feedback-btn-wrap {
  text-align: end;
}

.btn-send {
  padding: 10px 22px;
  margin: 25px 0 27px 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  vertical-align: top;
  color: #ffffff;
  
  border-radius: 25px;
  cursor: pointer;
}

.feedback-form p {
  margin: 0;
  padding: 0;
}

/* animation */

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-400px);
            transform: translateY(-400px);
  }

  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-400px);
            transform: translateY(-400px);
  }

  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}
