body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  color: #ffffff;

  background-color: #849d8f; 
  background-image: url("../img/background.png");
  background-position: 0 0;
  background-repeat: repeat;
}

.container {
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

a {
  text-decoration: none;
}

.btn {
  font: inherit;

  text-align: center;
  color: #fefefe;
  vertical-align: middle;
  text-transform: none;
  
  background-color: #f26843;
  background-image: linear-gradient(to top, #e74a35, #f26843);
  box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
  border: none;
}

.btn:hover,
.btn:focus {
  box-shadow: 0px 2px 2px 0 #ac1000;
  background-image: linear-gradient(to top, #e74a35, #f26843), 
  linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
}

.btn:active {
  box-shadow: inset 0px 2px 2px 0 #942718;
  background-image: linear-gradient(to bottom, #e74a35, #f26843), 
  linear-gradient(to bottom, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07));
}

.main-navigation {
  display: flex;
  flex-direction: row;
  align-items: center;

  font-size: 16px;
  line-height: 18px;
  color: #ffffff;

  background-color: #849d8f;
}

.main-logo {
  width: 154px;
  height: 64px;
}

.site-navigation {
  width: 352px;
  padding: 0;
  margin: 0;
  margin-left: 24px;
  list-style: none;
}

.site-navigation li {
  display: inline-block;
}

.sub-menu {
  list-style: none;
}

.search-wrapper {
  position: relative;
  width: 33px;
  margin-left: 374px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 500;

  background-color: #9db1a5;
}

.search-wrapper .search-form {
  display: none;
  position: absolute;
}

.search-wrapper:hover .search-form {
  display: block;
}


.user-navigation {
  width: 202px;
  padding: 0;
  margin: 0;
  margin-left: 10px;
  
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  list-style: none;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  color: #333333;

  background-color: #f7f6f3;
}

.site-navigation a:active {
  color: #323232;

  box-shadow: inset 0px 2px 1px 0 #696969;
  background-color: #ededed;
}

.site-navigation a,
.user-navigation a {
  color: #ffffff;
}

.login-link {
  position: relative;
  display: inline-block;
}

.btn-login {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;

  background-color: #9db1a5;
}

.search-wrapper:hover,
.search-wrapper:focus,
.login-link:hover,
.login-link:focus,
.btn-cart:hover,
.btn-cart:focus {
  background-color: #f8f7f4;
}

.btn-login,
.btn-cart {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;

  background-color: #9db1a5;
}

.login-form-wrapper {
  display: none;
  position: absolute;
}

.login-link:hover .login-form-wrapper {
  display: block;
  width: 277px;
  height: 214px;

  border-radius: 5.1px;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
}

.login-password-info .restore {
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #323232;
}

.create-account-info .create-account {
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #323232;
}

.cart {
  position: relative;
  display: inline-block;
  padding: 0;
  margin: 0;
}

.cart-form {
  display: none;
  position: absolute;
}

.cart:hover .cart-form-active {
  display: block;

  width: 540px;
  height: 242px;
  margin: 0;
  padding: 0;

  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;

  border-radius: 5px;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
}

.cart-form-active li {
  list-style: none;
}

.cart-item {
  margin: 0;
  padding: 0;
}

.remove-good {
  width: 11px;
  height: 16px;
  object-fit: contain;

  background-color: #f8f7f4;
  background-image: url("../img/cross-small.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.cart-item h3 {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
}

.total-price {
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
  color: #323232;
}

.hours-phone {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  font-size: 14px;
  line-height: 16px;
}

.hours-phone b {
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
}

.page-title {
  margin: 0;
  padding: 0;

  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.breadcrumbs {
  margin: 0;
  padding: 0;

  list-style: none;
}

.breadcrumbs li{
  display: inline-block;
}

.breadcrumbs a {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #ffffff;
}

.banner {
  text-align: center;
}

.banner h2 {
  font-size: 60px;
  line-height: 60px;
}

.banner-btn {
  font-size: 32px;
  line-height: 44px;
  color: #ffffff;
}

.slides-switches {
  list-style: none;
  text-align: left;
}

.slide-radio {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.promo-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.promo-block {
  background-color: #020002;
}

.promo-block h3 {
  font-size: 35px;
  line-height: 41px;
}

.promo-block-strawberry {
  width: 560px;
  object-fit: contain;

  background-image: url("../img/bg-strawberry.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  border-radius: 15px;
}

.promo-block-chocolate {
  width: 560px;
  object-fit: contain;

  background-image: url("../img/bg-chocolate.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  border-radius: 15px;
}

.btn-promo {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.hits {
  margin-bottom: 40px;
}

.catalog-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.catalog-item {
  width: 267px;
  margin: 0;
  padding: 0;
}

.catalog-item-image img {
  border-radius: 50%;
}

.catalog-item-price {
  font-size: 45px;
  line-height: 45px;
}

.catalog-item-title {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #ffffff;
}

.pagination-list {
  margin-bottom: 30px;

  list-style: none;
  text-align: right;
}

.pagination-item {
  display: inline-block;
}

.pagination-item-current a {
  color: #323232;

  background-color: #ffffff;
}

.pagination-list a {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
}




.features {
  margin-bottom: 40px;

  font-weight: 400;
  color: #323232;

  background-color: #ebdfc5;
  background-image: url("../img/bg-features.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  object-fit: contain;
  border-radius: 15px;
}

.features h2 {
  margin: 0;
  padding: 29px 0 0 21px;

  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.features-list {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 5px 33px 12px 76px;
  margin: 0;
  
  list-style: none;
}

.features-item {
  width: 476px;
  margin: 0;
  padding: 0;
}

.blog-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.blog {
  width: 560px;

  color: #323232;
  
  background-color: #ffffff;
  background-image: url("../img/bg-blog.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  object-fit: contain;
  border-radius: 15px;
}

.blog h3 {
  padding: 6px 0 0 20px;

  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.blog-item {
  display: inline-block;
  width: 281px;
  padding-left: 19px;
  padding-bottom: 70px; 

  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-decoration: underline;
  color: #323232;
}

.appointment {
  width: 560px;

  color: #323232;
  
  background-color:#f8f7f4;
  background-image: url("../img/bg-post.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  object-fit: contain;
  border-radius: 15px;
}

.appointment-wrapp {
  font-weight: 400;

  width: 549px;

  background-color: #f8f7f4;
  border-radius: 10px;
  margin: 4px 5px 5px 6px;
}

.subscribe {
  width: 506px;
  margin: 0;
  margin-bottom: 31px;
  padding: 30px 20px 0 20px;
}

.subscribe-form {
  padding-left: 20px;
  padding-bottom: 35px;
}

.subscribe-form input {
  width: 350px;
  padding: 12px 0 13px 15px;
}

.btn-send-subscribe {
  width: 129px;
  height: 44px;

  margin-bottom: 3px;
  margin-left: 11px;

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  
  box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
  background-image: linear-gradient(to top, var(--tomato), #f26843);
}

.map-contacnts {
  width: 1200px;
  margin: 0;
  padding: 0;
}
.map {
  width: 1200;
  height: 432;
}

.contacts {
  padding: 32px 25px 31px 25px;
  width: 302px;position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;

  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #323232;

  background-color: #ffffff;
  border-radius: 5%;
}

.contacts p {
  margin: 0;
  padding: 0;
}

.contacts-address b,
.contacts-phone b,
.btn-feedback-form {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.main-footer {
  display: flex;
  align-items: center;

  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #fefefe;
}

.inner-page .main-footer {
  border-top: 1px solid  rgba(255,255,255, 0.3);
}

.main-footer a {
  color: #ffffff;
}

.footer-social {
  width: 190px;
}

.social-links {
  display: flex;
  justify-content: space-between;  
  padding: 0;
  padding-left: 28px;
  margin: 0;

  list-style: none;
}

.documents {
  width: 330px;
  margin-left: 214px;
}

.documents-info {
  margin: 0;
  padding: 0;
}

.item-info {
  display: inline-block;
  margin-bottom: 5px;
}

.footer-copyright {
  display: flex;
  flex-direction: column;
  width: 210px;
  padding: 0;
  margin: 0;
  margin-left: 232px;

  font-size: 12px;
}

.inner-page .footer-copyright {
  padding-top: 18px;
}

.htmlacademy-logo {
  width: 108;
  height: 39;
}

.feedback,
.sub-menu {
  display: none;
}